@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

body {
   font-family: 'Roboto Slab', sans-serif;
   color: #4a4a4a;
   font-size: 14px;
   line-height: 1.5;
   width: 300px;
   margin-left: 12px;
   margin-right: 12px;
   margin-top: 14px;
   margin-bottom: 33px;
}

h1 {
   font-size: 36px;
   font-weight: bold;
   color: #9013fe;
   line-height: 1;
   text-align: center;
   margin-top: 15px;
   margin-bottom: 10px;
}

h2 {
   font-weight: 400;
   font-size: 20px;
   margin-top: 16px;
   scroll-margin-bottom: 10px;
   line-height: 1;
   margin-top: 10px;
   margin-bottom: 18px;
   text-align: right;
   color: #9b9b9b;
   text-transform: uppercase;
}

h2.quote {
   margin-left: 105px;
}

p {
   font-size: 12px;
}

li {
   margin-bottom: .5em;
}

ul, ol {
   padding-left: 2em;
   font-weight: bold;
   font-size: 14px;
   color: #4a4a4a;
   line-height: 1.43;
}

blockquote {
   font-size: 1.5em;
   font-weight: bold;
}

pre {
   background: #eee;
   padding: .5em;
}

code {
   background: #eee;
   padding: 2px;
   border-radius: 1px;
}

header, footer, nav, aside, main, article, section {
   border: 3px solid white;
   padding: 10px;
}

header { background: #f44336;}
footer { background: #e91e63;}
nav { background: #ffeb3b;}
aside { background: #64d8cb;}
main { background: #03a9f4;}
article { background: #4caf50;}
section { background: #ffc107;}

main {
   display: flex;
}